@model IEnumerable<CinemaWebApplication.Models.Screening>

@{
    ViewData["Title"] = "Screenings";
}

<h2>Screenings</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Screening</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Movie
            </th>
            <th>
                Screening Time
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Movie.Title
                </td>
                <td>
                    @item.ScreeningTime
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
